<!DOCTYPE html>
<html>
<head>
	<title>EDIT</title>
	<meta content="text/html; charset=utf-8" />
	<meta content="text/html; charset=utf-8" />
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>

<nav>
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
		<li class="nav-item"><a class="nav-link" href="/new">ADD</a></li>
	</ul>
</nav>

<body>
<div class="row">
	<div class="col"></div>
	<div class="col-6">
		<div class="form-group form-vales">
			<label>TITLE</label>
			<input id="title" class="form-control"> 
			<label>Content</label>
			<textarea id="content" class="form-control"></textarea>
			<button id="update" type="submit" class="btn btn-info">update</button>
		</div>
	</div>
	<div class="col"></div>
</div>
</body>

<script>

	$(document).ready(function(){
		var path = $(location).attr('pathname');
		var postId = path.split('/').pop();
		assignData(postId);

		$("#update").click(function(){
			var edited = {
					title: $("#title").val(),
					content: $("#content").val(),
				}
			
			$.ajax({
				type:"PUT",
				url: "http://localhost:8080/api/update/"+postId,
				data: edited,
				success: function(data){
					location.href="http://localhost:8080/";
				},
				error: function(data){
					console.log(data);
				}
			});
		});
		
		function assignData(postId){
			$.ajax({
				type:"GET",
				url: "http://localhost:8080/api/todo/"+postId,
				success: function(data){
					data.forEach(function(item,index,array){
						$("#title").val(item.title);
						$("textarea").append(item.content);
					});
				},
				error: function(data){
					console.log(data);
				}
			});
		}
	});
</script>
</html>