<!DOCTYPE html>
<html>
<head>
	<title>EDIT</title>
	<meta content="text/html; charset=utf-8" />
	<meta content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../css/style.css">
</head>

<nav style="margin-top: 30px;">
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
		<li class="nav-item"><a class="nav-link" href="/new">ADD</a></li>
	</ul>
</nav>

<body>
<div class="row">
	<div class="col"></div>
	<div class="col-6">
		<div id="form" class="form-group form-vales">
			<template>
				<h2>할 일 수정</h2>
				<label>TITLE</label>
				<input v-model="todo.title" class="form-control">
				<br>
				<label>Content</label>
				<textarea v-model="todo.content" class="form-control" rows="10"></textarea>
				<br>
				<div style="text-align: right">
					<button @click="updateTodo" class="btn btn-info">update</button>
				</div>
			</template>
		</div>
	</div>
	<div class="col"></div>
</div>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/edit.js"></script>

</body>

</html>