<!DOCTYPE html>
<html>
<head>
	<title>INDEX</title>
	<meta content="text/html; charset=utf-8" />
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<script type="text/javascript" src="./js/script.js"></script>
	<script type="text/javascript" src="./js/bootstrap.js"></script>
</head>

<nav>
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
		<li class="nav-item"><a class="nav-link" href="/new">ADD</a></li>
	</ul>
</nav>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col"></div>
			<div class="col-6">
				<table id="todoList" class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Title</th>
							<th scope="col">Content</th>
							<th scope="col">Reporting Date</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="id">1</td>
							<td>test title</td>
							<td>test content</td>
							<td>test date</td>
							<td> <button id="edit" class="btn btn-info">수정</button> </td>
							<td> <button id="delete" class="btn btn-danger">삭제</button> </td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col"></div>	
		</div>
	</div>
</body>
</html>