<!DOCTYPE html>
<html>
<head>
	<title>INDEX</title>
	<meta content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
</head>

<nav>
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
		<li class="nav-item"><a class="nav-link" href="/new">ADD</a></li>
	</ul>
</nav>

<body>
	<div class="container-fluid">
		<div class="row" style="height:60px;"></div>
		<div class="row">
			<div class="col"></div>
			<div class="col-6">
				<table id="todoList" class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Title</th>
							<th scope="col">Content</th>
							<th scope="col">Reporting Date</th>
							<th scope="col" style="text-align: right;">
								<select v-model="selected" @click="pageControll(selected)">
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</th>
						</tr>
					</thead>
					<tbody>
						<template v-for="item in fullList">
							<tr>
								<td>{{ item.todoId }}</td>
                            	<td>{{ item.title }}</td>
                            	<td>{{ item.content.substr(0,5) }}...</td>
                            	<td>{{ item.created }}</td>
                            	<td>
									<button @click="showButton(item.todoId)" class='btn btn-info'>보기</button>
                            		<button @click="editButton(item.todoId)" class='btn btn-warning'>수정</button> 
                           			<button @click="deleteButton(item.todoId)" class='btn btn-danger'>삭제</button>
                           		</td>
							</tr>
						</template>
						<tr></tr>
					</tbody>
				</table>
			</div>
			<div class="col"></div>	
		</div>
	</div>
	
	<div style="position: fixed; bottom:0; width:100%; height:180px;">
		<div id="bar" class="row">
			<div class="col"></div>
				<nav class="justify-content-center">
					{{current}} / {{totalPage}}
					
					<ul id="pagination" class="pagination">
						<li id="first" @click="goFirst">
							<a class="page-link" href="#"> 
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						
						<li @click="goPre">
							<a class="page-link" href="#"> 
								<span aria-hidden="true">&lt;</span>
							</a>
						</li>
						
						<template v-for="i in pages">
							<li class="page-item">
								<a v-model="current" @click="changePage(i)" class="page-link" href="#">{{i}}</a>
							</li>
						</template>
						
						<li @click="goNext()">
							<a class="page-link" href="#"> 
								<span aria-hidden="true">&gt;</span>
							</a>
						</li>
						
						<li id="last">
							<a class="page-link" @click="goLast" href="#">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
				<div class="col"></div>
			</div>
		</div>
		
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./js/vue.js"></script>
	<script type="text/javascript" src="./js/script.js"></script>
<!-- 	<script type="text/javascript" src="./js/pagination.js"></script> -->
	<script type="text/javascript" src="./js/bootstrap.js"></script>
</body>
</html>