<!DOCTYPE html>
<html>
<head>
	<title>NEW</title>
	<meta content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="./css/style.css">
</head>

<nav>
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
		<li class="nav-item"><a class="nav-link" href="/new">ADD</a></li>
	</ul>
</nav>

<body>
	<div class="row">
		<div class="col-6">
			<div id="form" class="form-group form-vales">
				<h2>새 할 일 작성</h2>
				<label>TITLE</label> 
				<input v-model="title" class="form-control" placeholder="제목을 입력하세요" >
				<br>	
				<label>Content</label>
				<textarea v-model="content" class="form-control" rows="10" placeholder="구체적인 내용을 입력하세요" ></textarea>
				<br>
				<div style="text-align: right">
					<button @click="sendPost" class="btn btn-info">저장</button>
				</div>
			</div>
		</div>
	</div>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/new.js"></script>

</body>

</html>

