<!DOCTYPE html>
<html>
<head>
	<title>TODO</title>
	<meta content="text/html; charset=utf-8" />
	<script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<script type="text/javascript" src="./js/script.js"></script>
	<script type="text/javascript" src="./js/bootstrap.js"></script>
</head>

<nav>
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
		<li class="nav-item"><a class="nav-link" href="/new">ADD</a></li>
	</ul>
</nav>

<body>
<div class="row">
	<div class="col"></div>
	<div class="col-6">
		<h1>title</h1>
		<h1>content</h1>
		<h4>Reported Date</h4>
		<div class="text-right">
			<button class="btn btn-info">수정</button>
			<button class="btn btn-danger">삭제</button>
		</div>
	</div>
	<div class="col"></div>
</div>
</body>
</html>